# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual Environment
venv/
weather_env/

# IDE
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Environment Variables
.env

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Python egg files
*.egg-info/
